#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 #s-dot-blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}