#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 332px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 332px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 #s-dot-blue {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8f9f18e4-c0c3-478f-8fd9-7b2a7fe77ef4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}