#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ok-green {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Label_84 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-dot-blue {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}