#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ok-green {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Label_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 #s-dot-blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-aa5d0fa5-7350-4dd2-80b4-9048bbb7ec89 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}