#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Rich_text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Label_205 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Label_215 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-cover {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Rich_text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Label_206 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Label_216 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-cover_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Rich_text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Label_207 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Label_217 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-cover_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Image_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ae749e7a-fb22-45e6-b7c9-03d560206239 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}