#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Rich_text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Label_205 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Label_215 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-cover {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Rich_text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Label_206 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Label_216 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-cover_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Rich_text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Label_207 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Label_217 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-cover_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c15ec414-2921-4290-acaf-ef87ca88086d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}