#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Sign-in-screen {
  border-collapse: separate;
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Ellipse_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Ellipse_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Rich_text_197 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_106 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_106 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Rich_text_198 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_107 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_107 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Label-blue_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 358px;
  height: 37px;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Rich_text_199 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_108 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_108 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Rich_text_200 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_109 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_109 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Rich_text_201 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_110 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Rich_text_202 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_111 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_111 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Rich_text_203 {
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_112 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Line_112 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f6cbebbe-d703-454b-857f-99ef74f11346 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}